# Denegar acceso a wp-config.php
<files config.json>
order allow,deny
deny from all
</files>
 
# Denegar acceso a archivos .htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

php_value display_errors "on"
