/*=======================================
	Index page
  =======================================*/

.index_page {
	padding: 30px;
	padding-right: 75px;
}

.index_posts {
	display: inline-block;
	width: 75%;
}

.index_groups {
	border: 5px solid #CCC;
	box-shadow: 0 0 5px #DDD;
	max-width: 390px;
}

.index_right {
	width: 20%;
	display: inline-block;
	float: right;
}

@media screen and (max-width: 768px) {
	.index_posts, .index_right {
		width: 100%;
	}
}

.post {
	width: 100%;
	display: inline-block;
	background-color: #FFF;
	border: 2px solid #CCC;
	transition: all 0.2s ease;
	padding: 15px;
	margin-bottom: 20px;
	font-size: 1rem;
	line-height: 20px;
}

.post:hover {
	box-shadow: 0 0 20px rgba(0,0,0, .20);
}

.post b, .post strong {
	font-weight: bold;
}

.post ul {
	list-style-type: circle;
}

.post ul li {
	margin-left: 25px;
}

.post h1 {
	margin-bottom: 10px;
}

.postbox {
	float: right;
}

.postbox a {
	margin-left: 15px;
}

.sectiontitle {
	background-color: #CCC;
	padding: 10px;
	font-weight: bold;
	color: #320;
}

.sectionbody {
	padding: 15px;
}

.sectionbody li {
	padding: 3px 0;
}