.securepass span {
	padding: 5px 25px;
}

.securepass .red {
	background-color: rgba(255, 0, 0, .5);
}

.securepass .orange {
	background-color: rgba(255, 128, 0, .5);
}

.securepass .yellow {
	background-color: rgba(255, 255, 0, .5);
}

.securepass .green {
	background-color: rgba(128, 255, 0, .5);
}

.securepass .stronggreen {
	background-color: rgba(0, 255, 0, .5);
}