/*===============================================================
1.0 RESET
===============================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    outline: 0;
}

a {
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
    padding: 5px;
}

/*===============================================================
2.0 FONTS
===============================================================*/

/* RobotoBold */
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/roboto-bold/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
    font-style: normal;
}

/* RobotoMedium */
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/roboto-medium/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
    font-style: normal;
}

/* RobotoRegular */
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
    font-style: normal;
}

/* RobotoLight */
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-light/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
    font-style: normal;
}

/* RobotoThin */
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/roboto-thin/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin/roboto-thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
    font-style: normal;
}

/*===============================================================
3.0 BASIC STYLES
===============================================================*/

body {
    background: #EEE;    
    font-family: 'RobotoLight', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: #C96;
    transition: all 0.3s ease;
}

a:hover {
    color: #320;
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    font-family: 'RobotoLight', sans-serif;
    color: #320;
}

.fa {
    padding-right: 2px;
}

.main {
    margin: 50px auto;
    width: 392px;
}

/*===============================================================
4.0 HEADER
===============================================================*/

#header {
    background: #FFF;  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    display: inline-block;
    height: 60px;
    padding: 0px 80px;
    width: 100%;
}

header a:hover {
    text-decoration: none;
}

/* Main Title
   =========================================================== */

.main_title {    
    padding-right: 20px;
    margin-right: 10px;
    float: left;
    margin-top: 15px;
}
.main_title h1 {
    color: #332200;
    font-size: 24px;    
}

/* Main Menu
   =========================================================== */

.main_menu {    
    float: left;
}

.main_menu li {
    float: left;
    position: relative;
}

.main_menu li a {
    color: #332200;
    display: inline-block;
    font-size: 16px;
    padding: 22px 15px;
}


.main_menu li:hover a {
    background: #f5f5f5;       
}

.main_menu li:hover > ul {
    display: block;
}

.main_menu li ul {
    background: #320;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    display: none;    
    padding: 10px 0px;
    position: absolute;
    min-width: 180px;    
}

.main_menu li ul li {
    display: block;
    float: none;
}

.main_menu li ul li a {    
    color: #FFF;
    padding: 5px 10px;
    width: 100%;
}

.main_menu li ul li a:hover {
    color: #C96;
}

.main_menu li:hover > ul li a {
    background: none;
}


/* User Menu
   =========================================================== */

.user_menu {
    float: right;
}

.user_menu li {
    position: relative;
}

.user_menu li a {
    color: #FFF;
    display: inline-block;
    height: 60px;
    padding: 6px 15px;
}

.user_menu li:hover > ul {
    display: block;
}

.user_menu li ul {
    background: #320;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    display: none;    
    padding: 10px 0px;
    position: absolute;
    width: 220px;
    right: 0px;
}

.user_menu li ul li a {
    height: auto;
}

.user_menu .user_image img {
    background: #FFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;    
}

.user_menu ul li a {
    font-size: 13px;
}

.user_menu:hover > ul li a {
    background: none;
}

.user_menu ul li:hover {
    background: none;
}

.user_menu ul li a:before {
    color: #FFF;
    padding-right: 5px;
    font-size: 13px;
}

.user_menu ul li a:hover, .user_menu ul li a:hover:before {
    color: #C96;    
}

.user_menu .view_profile a  {
    font-size: 20px !important;
    margin-bottom: 10px;
}

.user_menu .view_profile span {
    display: inline-block;
    font-size: 13px;
}

/* User Menu
   =========================================================== */
#admin_menu {
    padding: 10px;
}

#admin_menu a {
    border: 1px solid #aaa;
    padding: 20px;
    transition: all 0.3s ease;
}

#admin_menu a:hover {
    background-color: #fff;
}

#admin_menu img {
    width: 60px;
    height: 52px;
}

#admin_menu a img {
    vertical-align: middle;
    padding-right: 10px;
}

/*Header Admin Panel*/

.admin_header {
    
}

.btn_back {
    width: 48px;
    height: 48px;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 15px;
    float: left;
    background-color: #999;
    vertical-align: middle;
    display: inline-block;
}

.btn_back:hover {
    opacity: 1;
}

.admin_hmenu {
    background-color: #ddd;
    width: 100%;
    height: 48px;
    float: left;
}

.admin_hmenu h2 {
    padding-top: 13px;
    color: #000;
    font-size: 1.3rem;
}

.admin_hmenu a {
    color: #666;
}

.admin_hmenu a:hover {
    color: #000;
    text-decoration: none;
}


/* Submenu */

.submenu {
    display: inline-block;
    background-color: #ccc;
    width: 100%;
}

.submenu a {
    display: inline-block;
    color: #666;
    padding: 15px;
    vertical-align: middle;
}

.submenu a:hover {
    color: #000;
    background-color: #aaa;
}

.submenu li {
    display: inline-block;
}

.submenu li img {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 8px;
    margin-top: -4px;
}

/* Ui Tabs
   =========================================================== */

.ui_tabs {
    display: inline-block;
    /*padding-top: 20px;*/
    width: 100%;
}

.ui_tabs ul {
    border-top: 2px solid #320;
    border-bottom: 2px solid #320;
    display: inline-block;
    width: 100%;
}

.ui_tabs li {
    float: left;
}

.ui_tabs li a {
    color: #320;
    display: inline-block;
    padding: 15px;
    transition: none;
}

.ui_tabs li.active a {
    background: #DDD;
    border-bottom: 4px solid #320;
    padding-bottom: 11px;
}

.ui_tabs li a:hover {
    background: #DDD;
    text-decoration: none;
}

.ui_tabs_content {
    padding: 0px;    
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
}

.ui_tab_content {
    display: none;
}

.ui_tab_content:first-child {
    display: block;
}


/* Ui Table
=========================================================== */
.ui_table {
display: table;  
text-align: left;
width: 100%;
}
.ui_table thead {
border-top: 2px solid #320;
border-bottom: 2px solid #320;     
}
.ui_table th, .ui_table td {
color: #320;    
padding: 15px;
white-space: nowrap;
}
.ui_table thead tr {
background: none !important;
}
.ui_table tr:nth-child(odd) {
background: #DDD;
}
.ui_table .select, .ui_table .actions {
text-align: center;
width: 65px;
}
.ui_table .ui_action {
color: #000;
}

.ui_table .fa {
    color: #320;
    transition: all 0.2s ease;
}

.ui_table .fa:hover {
    color: #c96;
}

/* Ui Form
   =========================================================== */

.ui_form {
    width: 100%;
}

.ui_form label {
    width: 30%;
}

.ui_form input {
    width: 70%;    
}

/* Ui Vertical Nav
   =========================================================== */

.ui_vertical_nav {    
    width: 100%;
}

.ui_vertical_nav ul {
    
}

.ui_vertical_nav li {
    
}

.ui_vertical_nav li a {
    color: #320;    
    padding: 15px;
    display: inline-block;
    width: 100%;
}

.ui_vertical_nav li a:hover {
    background: #DDD;
}

.ui_vertical_nav li.active a {
    background: #DDD;
    border-left: 4px solid #320;
    padding-left: 11px;
}


/*===============================================================
TRANSITIONS
===============================================================*/

.ui_head .ui_actions .ui_action {
    transition: all 0.2s linear;
}


/* Ventanta Profile */

.profile_table {
    padding: 10px;
    margin: 10px;
    border: 1px solid #aaa;
}

.profile_table td {
    padding: 10px;  
}

.main_profile_photo {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 100%;
}

#previsualizar_img {
    width: 64px;
    height: 64px;
}

/* Container
=========================================================== */
.container {
    background: #d1d1d1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    padding: 50px;
    /*width: 392px;*/
}

.container h1, .container h2 {
    color: #320;       
    margin-bottom: 20px;    
}

.container h1 {
    font-size: 32px; 
    text-align: center;
}

.container h2 {
    font-size: 24px;    
    text-align: left;
}

.container .form  label {
    color: #320;
    width: 100%x;
}

.container .form input, .container .form select {
    border: 0;
    box-sizing: border-box;
    font-family: 'RobotoLight', sans-serif;
    font-size: 15px;
    padding: 12px 12px;
    margin: 5px 0px 20px 0px;
    width: 100%;
}

.container .form input:focus, .container .form select:focus {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.30);
}

.container .form input[type="submit"] {
    background: #320;
    color: #FFF;
    cursor: pointer;
    font-family: 'RobotoBold', sans-serif;
    margin-bottom: 0px;
    width: 100%;
}

.container button, .container a.button {
    background: #320;
    border: 0px;
    color: #FFF;
    cursor: pointer;
    font-family: 'RobotoBold', sans-serif;
    font-size: 15px;
    padding: 12px 12px;    
    margin-bottom: 0px;
    width: 100%;
}

.container a.button {
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
}

/* Login */
.container .login input {
    border: 0;
    box-sizing: border-box;
    font-family: 'RobotoLight', sans-serif;
    font-size: 15px;
    padding: 12px 12px;
    margin-bottom: 20px;
    width: 250px;
}
.container .login input[type="submit"] {
    background: #320;
    color: #FFF;
    cursor: pointer;
    font-family: 'RobotoBold', sans-serif;
    margin-bottom: 0px;
    width: 292px;
}

.container .login  label {    
    width: 292px;
}

.container .login label:before {
    background: #320;
    color: #FFF;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 24px;
    height: 34px;
    padding-top: 8px;
    text-align: center;    
    width: 42px;
}
.container .login label.username:before {
    content: "\f007";
}
.container .login  label.password:before {
    content: "\f084";
}

.container .extra_link {
    color: #320;
    display: inline-block;    
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

.extra_link:hover {
    text-decoration: underline;
}

/* Text */

.container .text {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.container  .text p {
    margin-bottom: 10px;
}

.container  .text a.link {
    color: #000;
    font-family: 'RobotoBold', sans-serif;
}

/* Mesasges
   =========================================================== */

.message {
    background: #d1d1d1;
    border-left: 4px solid #320;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    color: #320;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 15px;
    width: 358px;
}

/* Units & Works
   =========================================================== */

.unit {
    padding: 20px 10px;
    border-top: 2px solid #320;
    border-bottom: 2px solid #320;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
}

.new_unit {
    cursor: pointer;
    padding: 20px 10px;
    border: 2px dashed #320;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.2s ease;
}

.new_unit:hover {
    background-color: #eee;
}

.work, .new_work {
    cursor: pointer;
    padding: 20px 10px 20px 50px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.work:hover {
    background-color: #fff;
}

.new_work {
    border: 1px dashed #320;
}

.units a:hover {
    text-decoration: none;
}


/* Footer
   =========================================================== */

footer {
    bottom: 0px;
    box-sizing: border-box;
    color: #666;
    left: 0px;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

footer .copyright {
    float: left;
}

footer .version {
    float: right;
}

/* INPUT */
input {
    background-color: #eee;
    color: #320;
    border: 0;
    border-bottom: 1px solid #320;
    outline: 0;
    border-radius: 5px;
}

input[type=submit],button {
    background-color: #320;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    font-family: 'RobotoLight', sans-serif;
    font-size: 1rem;
    transition: all 0.2s ease;
}

input[type=submit]:hover,button:hover {
    background-color: #c96;
    box-shadow: none;
}

input:hover, input:focus {
    box-shadow: 0 1px #320;
}

/*===============================================================
UI ELEMENTS
===============================================================*/

.ui_full_width {
    display: inline-block;
    padding: 20px 80px;
    width: 100%;
}

.ui_width_sidebar {
    padding: 0px 0px 0px 20px;
    width: 82%;
}

.ui_sidebar {
    padding: 0px 20px 0px 0px;
    width: 18%;
}

.ui_sidebar a {
    transition: none;
}

.ui_sidebar a:hover {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Ui Head
   =========================================================== */

.ui_head {
    display: inline-block;    
    width: 100%;
}

.ui_head_width_actions {
    padding-bottom: 15px;    
}

.ui_head h2 {
    color: #320;    
    font-size: 32px;
    font-weight: 300;
    float: left;
}

.ui_head .ui_actions {
    float: right;
}

.ui_head .ui_actions .ui_action {
    background: #320;
    border: 0px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;   
}

.ui_head .ui_actions .ui_action:hover {
    background: #C96;      
}

/*
==================
(c)2015 Teeach
==================
*/