* {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
	font-weight: bold;
	color: #249;
	text-decoration: none;
}

a:hover {
	color: #016;
}

h1 {
	font-weight: 100;
	font-size: 4rem;
	margin: 0;
	padding: 10px;
	color: #320;
}

h2 {
	display: inline-block;
	font-weight: 100;
	/*font-size: 3rem;*/
	padding: 10px;
}

h2 a {
	color: #000;
	font-weight: 100;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	padding: 10px;
}

h6 {
	color: #320;
}

.table {
	border-collapse: collapse;
	margin: 10px;
}

.table td, .table th {
	border: 1px solid #999;
	padding: 2px;
	margin: 0;
}

thead {
	background-color: #320;
	color: #fff;
}

.table tr:hover {
	background-color: #99f;
	color: #33f;
	cursor: default;
}

body {
	margin: 0;
	padding: 0;
	background: #ddd;
}

header {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #fff;
	background-color: #000;
}

nav {
	margin-top: -30px;
	position: relative;
	width: 100%;
	display: inline-block;
	color: #fff;
	background-color: #000;
}

nav a {
	font-size: 0.9rem;
	text-transform: uppercase;
	display: inline-block;
	color: #bbb;
	padding: 7px;
}

nav a:hover {
	color: #fff;
}

nav ul{
	list-style: none;
	padding: 0;
}

.submenu {
	list-style: none;
	padding: 10px 30px;
	background-color: #eef;
}

.submenu a {
	display: inline-block;
	border: 1px solid #33f;
	margin-left: 7px;
	padding: 2px;
}

aside {
	background-color: #fff;
	color: #320;
	float: left;
	width: 250px;
	min-height: 500px;
}

aside h3 {
	text-align: center;
}

aside ul {
	list-style: none;
}

#posts {
	display: inline-block;
	float: left;
	padding: 10px;
	margin-right: 30px;
}

#posts article {
	width: 580px;
	display: inline-block;
	padding: 30px;
	margin-left: 20px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #aaa;
	transition: all 0.1s ease;	
}

#posts article:hover {
	border-left: 5px solid #320;
}

#posts h1 {
	color: #320;
	padding: 10px 50px 10px 25px;
	background-color: #fff;
	display: inline-block;
	margin-top: 30px;
}

#posts h2,h5 {
	padding: 0;
	margin: 0;
}

#posts h2 {
	font-size: 3rem;
}

#groups {
	margin-top: 10px;
	float: left;
	display: inline-block;
	padding: 10px;
	border: 1px solid #000;
}

#groups div {
	background-color: #320;
	color: #fff;
}

.grouplist li {
	list-style: none;
	padding: 20px 150px;
	display: inline-block;
	background-color: #fff;
}

.grouplist li:hover {
	background-color: #bbb;
}

.btn_back {
	width: 48px;
	height: 48px;
	opacity: 0.7;
	cursor: pointer;
	vertical-align: middle;
}

.btn_back:hover {
	opacity: 1;
}



.msg_error {
	padding: 10px;
	border: 2px solid #C0392B;
	background-color: #FF8484;
	color: #C0392B;
	display: inline-block;
	font-weight: bold;
}

.msg_error img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	padding: 3px;
}

.msg_ok {
	padding: 10px;
	border: 2px solid #349F41;
	background-color: #65AF6D;
	color: #349F41;
	display: inline-block;
	font-weight: bold;
}

.msg_ok img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	padding: 3px;
}

/*
-----------
------PRUEBAS
------Pestañas
-----------
*/

.contenedor {
    width: 1080px;
    margin: auto;    
    padding: 20px 15px 50px 50px;
    border-radius: 5px;
}
 
#pestanas {
    float: top;
    font-size: 1.5rem;
    margin-left: 13px;
}
 
#pestanas ul {
    margin-left: -40px;    
}
 
#pestanas li {
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #ccc;
    border: 4px solid #bbb;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}
 
#pestanas a:link {
    text-decoration: none;
    color: #222;
}
 
#contenidopestanas {
    clear: both;  
    background: #fff;
    padding: 20px 0px 20px 20px;
    border-top-left-radius: 0px;
    border: 4px solid #bbb;
    width: 1025px;
}

/* Ventanta Profile */

.profile_table {
	padding: 10px;
	margin: 10px;
	border: 1px solid #aaa;
}

.profile_table td {
	padding: 10px;	
}

.main_profile_photo {
	width: 100px;
	height: 100px;
	background-color: #fff;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 5px #aaa;
	border-radius: 100%;
}

#previsualizar_img {
	width: 64px;
	height: 64px;
}

/*Admin panel*/
#admin_menu {
	padding: 10px;
}

#admin_menu a {
	border: 1px solid #aaa;
	padding: 20px;
	transition: all 0.3s ease;
}

#admin_menu a:hover {
	background-color: #fff;
}

#admin_menu a img {
	vertical-align: middle;
	padding-right: 10px;
}

.icon {
	width: 48px;
	height: 48px;
}

.actual_select {
	background-color: #999;
	padding: 10px;
}

footer {
	display: block;
	padding: 15px;
	background-color: #320;
	color: #fff;
	text-align: center;
	font-size: 0.7rem;
	width: 100%;
	border-top: 10px solid #bbb;
}

/*Test*/

input,button {
	background-color: #ddd;
	color: #320;
	border: 0;
	border-bottom: 1px solid #320;
	outline: 0;
	margin: 10px;
	border-radius: 5px;
}

input:hover, input:focus {
	box-shadow: 0 1px #320;
}

input[type="submit"],button {
	padding: 3px 40px;
	border: 1px solid #320;
	box-shadow: 0 1px #320;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[type="submit"]:hover,button:hover {
	background-color: #fff;
	box-shadow: none;
	border-bottom: 1px solid #320;
}

/*(c)2015 Project Learn*/