/* Messages
   =========================================================== */

.message {
    padding: 15px;
    background-color: #fff;
    color: #320;
    border: 2px solid #ccc;
    margin: 5px;
}

.msg_subject {
	width: 250px;
	display: inline-block;
	padding-left: 10px;
}

.msg_actions {
	margin-top: -10px;
	float: right;
	opacity: 0;
	color: #320;
}

.msg_actions a {
	color: #320;
}

.msg_actions i {
	padding: 10px;
	cursor: pointer;
	border-radius: 100%;
	transition: all 0.2s ease;
}

.msg_actions i:hover {
	background-color: #ddd;
}